.App {
  margin: 30px auto;
  width: 90%;
  border: 1px solid black;
}

h2 {
  margin-top: 30px;
  margin-left: 35px;
}

.row {
  border-right: 1px solid black;
}

.formField{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.errorMessage {
  color: red;
}

.saveButton{
  display: inline-block;
  color: #ccc;
  background-color: blue;
  height: auto;
  width: auto;
  border-radius: 7px;
  margin: 3px 5px;
}

.editButton{
  display: inline-block;
  color: #ccc;
  background-color: blue;
  height: auto;
  width: auto;
  border-radius: 7px;
  margin: 3px 5px;
}

.removeButton{
  display: inline-block;
  color: #ccc;
  background-color: red;
  border-radius: 7px;
  margin: 3px 5px;
}

.cancelButton{
  display: inline-block;
  color: black;
  background-color: white;
  height: auto;
  width: auto;
  border-radius: 7px;
  margin: 3px 5px;
}
